.heroBanner {
  padding: 6rem 0;
  background-color: #f9fafb; /* light gray */
}

.heroLogo {
  width: 140px;
  margin-bottom: 1.5rem;
}

.hero__title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.hero__subtitle {
  font-size: 1.25rem;
  color: #555;
}

.buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
